.idea/
.nbproject/
.settings/
.buildpath
.project
vendor/
composer.phar
public/js/dependencies/
public/css/.sass-cache/
/nbproject
build/
data/barcode.gif
data/test-html-report/

module/*/test/Codeception/tests/_output/*
