$main-color   : #d0d0d0;
$second-color : #404040;
$third-color  : #676767;
$fourth-color : #919191;
$fifth-color  : #a9a9a9;
$sixth-color  : #c9c9c9;
$seventh-color  : #dfdfdf;

$main-orange  : #FF9B31;

$main-green   : #00806b;
$second-green : #00BC9E;


$main-blue    : #96a5be;
$second-blue  : #b4c7e4;
$third-blue   : #5b7093;

$main-icon-size:20px;

body {
  padding-top: 60px;
  background-color: $main-color;
}

.donation-box{
  text-align: center;
  height: auto;
  padding-bottom: 10px;
  .donation-desc{
    text-align: left;
    background: $seventh-color;
    padding: 10px;
    display: none;
  }
}



.container-main{
  min-height: 450px;
  padding-top: 40px;
  padding-bottom: 100px;
  h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
  }
}

.navbar-inverse {
  background-color: $second-color;
  border-bottom: 5px solid $main-orange;
}


.jumbo-home{
  background-color: $third-color;
  height: auto;
  margin-top: -10px;
  margin-bottom: 50px;
  border-bottom: 8px solid $fourth-color;
}


.jumbotron{
  background-color: $third-color;
  color: $main-color;
    p{
      color: $main-color;
    }
    .btn-success{
      background: $second-green;
      border: 1px solid $main-green;
    }
}

.link-module{
  display: inline-table;
  float: right;
  font-size: $main-icon-size;
    a{
      color: $main-green;
      text-decoration: none;
      &:hover{
        color: $main-orange;
      }
    }
}

thead{
  background-color: $fourth-color;
  border-bottom: 3px solid $main-orange;
  color: $main-color;
}

.table-striped{
  > tbody{
   > tr{
      &:nth-child(odd){
       > td,th{
          background-color: $sixth-color;
          border-bottom: 1px solid $fifth-color;
        }
      }
     &:nth-child(even){
       > td,th{
         border-bottom: 1px solid $fifth-color;
       }
     }
    }
  }
}

.pagination{
  > li{
    > a, > span{
      color: $sixth-color;
      background-color: $fourth-color;
      border: 1px solid $third-color;
    }
  }
}


.pagination{
  > li{
    > a, > span{
      &:hover, &:focus{
        color: $third-color;
        background-color: $main-orange;
        border-color: $third-color;
      }
    }
  }
}


.border-radius {
  border-radius: 10px;
}
.border-radius:after {
  border-radius: 0 0 0 10px;
}

.zf2-sidebar{
  margin-bottom: 50px;
  .download-button-lg{
    width: 100%;
    margin-bottom: 8px;
  }
  .fb-wrap{
    margin-top: 0 ;
    display: inline-table;
    position: absolute;
  }
  .box-sidebar {
    position: relative;
    margin-bottom: 40px;
    padding: 40px;
    background-color: $main-blue;
    h5.title{
      top:8px;
      left: 8px;
      position: absolute;
      text-transform: uppercase;
      color: $second-blue;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:after, &:before {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      content: "";
    }
    &:before{
      border-top: solid 20px $fifth-color;
      border-right: solid 20px $fifth-color;
      border-left: solid 20px transparent;
      border-bottom: solid 20px transparent;
      border-radius: 0 10px 0 0;
    }
    &:after{
      border-bottom: solid 20px $third-blue;
      border-left: solid 20px $third-blue;
      border-right: solid 20px transparent;
      border-top: solid 20px transparent;
    }
    ul{
      margin:0;
      padding: 0;
      list-style: none;
      li{
        border-bottom: 1px dashed $second-blue;
        padding: 8px 10px;
        a{
          color:$main-color;
        }
      }
    }
  }
}


.demo-box{
  padding: 50px 10px;
  background: $sixth-color;
  margin-bottom: 50px;
  height: auto;
  display: inline-block;
  width: 100%;
  &:before{
    content: "Demo";
    padding: 5px 15px;
    background: $second-green;
    border:1px solid $main-green;
    color:#fff;
    margin-top: -60px;
    position: absolute;
    margin-bottom: 40px;
    border-radius: 10px;
  }
}


.footer{
  border-top: 4px solid $third-color;
  background-color: $second-color;
  color: $sixth-color;
  padding: 50px 0;
}
