<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuite name="LearnZF2FormUsage" >
        <directory>./LearnZF2FormUsageTest</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">./../test/</directory>
            <directory suffix=".php">./../../../vendor/</directory>
        </blacklist>
    </filter>
</phpunit>
