<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuite name="Application" >
        <directory>./ApplicationTest</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">./../test/</directory>
            <directory suffix=".php">./../vendor/</directory>
        </blacklist>
    </filter>
</phpunit>
