<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuite name="Application" >
        <directory>./ApplicationTest</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">./../test/</directory>
            <directory suffix=".php">./../../../vendor/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="./../../../data/test-html-report/" charset="UTF-8" yui="true" />
        <log type="coverage-php" target="./../../../build/coverage/coverage-application.cov"/>
    </logging>
</phpunit>
